# Ignorar arquivos e diretórios de ambientes virtuais
venv/
env/
.venv/

# Ignorar configurações do Streamlit
.streamlit/secrets.toml

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc
*.pyo

# Ignorar arquivos temporários ou locais
*.tmp
*.log
*.swp
*.DS_Store
*.ipynb_checkpoints
*.idea/
*.vscode/

# Ignorar dependências instaladas
*.egg-info/
*.eggs/
build/
dist/

# Ignorar FAISS e arquivos de índice vetorial
*.faiss
*.hnsw

# Ignorar arquivos de sistema
Thumbs.db
